*.db
*.pyc
__pycache__/
plugin.video.pseudotv.live/remotes/genres.json
plugin.video.pseudotv.live/.idea/vcs.xml
plugin.video.pseudotv.live/.idea/inspectionProfiles/profiles_settings.xml
plugin.video.pseudotv.live/.idea/misc.xml
plugin.video.pseudotv.live/.idea/modules.xml
plugin.video.pseudotv.live/.idea/plugin.video.pseudotv.live.iml
plugin.video.pseudotv.live/tests/__pycache__/
plugin.video.pseudotv.live/tests/gen_*.py
plugin.video.pseudotv.live/tests/gen_*.ps1
plugin.video.pseudotv.live/tests/create_*.py
plugin.video.pseudotv.live/tests/fix_*.py
plugin.video.pseudotv.live/tests/check_*.py
plugin.video.pseudotv.live/tests/conftest*.py
plugin.video.pseudotv.live/tests/append_*.py
plugin.video.pseudotv.live/tests/write_*.py
plugin.video.pseudotv.live/tests/b64_*.txt
