<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.pseudotv.live">
        <category id="channels" label="30108" help="">
			<group id="1" label="30106">
				<setting id="Select_Channels" type="string" label="30107" help="33107">
					<level>1</level>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/utilities.py, Channel_Manager)</data>
                        <close>true</close>
					</control>
				</setting>
            </group>
            <group id="2" label="">
				<setting id="Backup_Channels" type="string" label="32110" help="33110">
					<level>1</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/backup.py, Backup_Channels)</data>
                        <close>true</close>
					</control>
				</setting>
				<setting id="Recover_Channels" type="string" label="32107" help="33107" parent="Backup_Channels">
					<level>1</level>
					<default></default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.Backup),true)</condition>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/backup.py, Recover_Channels)</data>
                        <close>true</close>
					</control>
				</setting>
			</group>
        </category>
        
		<category id="autotune" label="30038" help="33038">
			<group id="1" label="30038">
				<setting id="Select_Playlists" type="string" label="30104" help="33002">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.Playlists),true)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, Playlists)</data>
                        <close>true</close>
					</control>
				</setting>
				<setting id="Select_TV_Networks" type="string" label="32004" help="33004">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.TV_Networks),true)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, TV_Networks)</data>
                        <close>true</close>
					</control>
				</setting>
				<setting id="Select_TV_Shows" type="string" label="32005" help="33005">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.TV_Shows),true)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, TV_Shows)</data>
                        <close>true</close>
					</control>
				</setting>
				<setting id="Select_TV_Genres" type="string" label="32006" help="33006">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.TV_Genres),true)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, TV_Genres)</data>
                        <close>true</close>
					</control>
				</setting>
				<setting id="Select_Movie_Genres" type="string" label="32007" help="33007">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.Movie_Genres),true)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, Movie_Genres)</data>
                        <close>true</close>
					</control>
				</setting>
				<setting id="Select_Movie_Studios" type="string" label="32008" help="33008">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.Movie_Studios),true)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, Movie_Studios)</data>
                        <close>true</close>
					</control>
				</setting>
				<setting id="Select_Mixed_Genres" type="string" label="32009" help="33009">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.Mixed_Genres),true)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, Mixed_Genres)</data>
                        <close>true</close>
					</control>
				</setting>
				<setting id="Select_Music_Genres" type="string" label="32011" help="33011">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.Music_Genres),true)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, Music_Genres)</data>
                        <close>true</close>
					</control>
				</setting>
				<setting id="Select_Mixed" type="string" label="32010" help="33010">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.Mixed),true)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, Mixed)</data>
                        <close>true</close>
					</control>
				</setting>
				<setting id="Select_Recommended" type="string" label="32012" help="33003">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.Recommended),true)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, Recommended)</data>
                        <close>true</close>
					</control>
				</setting>
                <setting id="Select_Services" type="string" label="32013" help="30246">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.Services),true)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, Services)</data>
                        <close>true</close>
					</control>
				</setting>
                <setting id="Clear_BlackList" type="string" label="30039" help="33039" parent="Select_Services">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.BlackList),true)</condition>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, Clear_BlackList)</data>
						<close>true</close>
					</control>
				</setting>
                <setting id="Clear_Autotune" type="action" label="30040" help="33040">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.has.Predefined),true)</condition>
							</and>
						</dependency>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/autotune.py, Clear_Autotune)</data>
						<close>true</close>
					</control>
				</setting>
			</group>
		</category>
    
        <category id="options" label="30010" help="">
			<group id="1">
				<setting id="Idle_Timer" type="integer" label="30078" help="33078">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30079">0</option>
							<option label="30080">1</option>
							<option label="30081">2</option>
							<option label="30082">3</option>
							<option label="30083">4</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="Enable_Grouping" type="boolean" label="30063" help="33063">
					<level>1</level>
					<default>true</default>
					<control type="toggle"/>
                    <dependencies>
                        <dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
                        </dependency>
					</dependencies>
				</setting>
				<setting id="User_Groups" type="string" label="30064" help="33064" parent="Enable_Grouping">
					<level>1</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
                            <and>
                                <condition operator="is" setting="Enable_Grouping">true</condition>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/utilities.py, User_Groups)</data>
                        <close>false</close>
					</control>
				</setting>
                <setting id="EPG_Artwork" type="integer" label="30065" help="33022">
					<level>0</level>
					<default>0</default>
                    <dependencies>
                        <dependency type="visible">
                            <and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
                        </dependency>
					</dependencies>
					<constraints>
						<options>
							<option label="30066">0</option>
							<option label="30067">1</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="NEAREST_SEASON" type="boolean" label="30068" help="33068">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
				</setting>
				<setting id="Force_HighPower" type="boolean" label="32149" help="33149">
					<level>3</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isLowPower),true)</condition>
							</and>
						</dependency>
					</dependencies>
				</setting>
				<setting id="Run_While_Playing" type="boolean" label="32150" help="33150">
					<level>3</level>
					<default>true</default>
					<control type="toggle"/>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
				</setting>
			</group>               
            <group id="2" label="30011">
				<setting id="User_Folder" type="path" label="30012" help="33012">
					<level>1</level>
					<default>special://profile/addon_data/plugin.video.pseudotv.live/cache</default>
					<constraints>
						<sources>
							<source>files</source>
						</sources>
						<writable>true</writable>
					</constraints>
					<control type="button" format="path">
						<heading>30012</heading>
					</control>
				</setting>
			</group>
		</category>
    
        <category id="tweaks" label="30013" help="">
            <group id="1" label="30057">
				<setting id="Playback_Method" type="integer" label="30058" help="33058">
					<level>1</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30059">0</option>
							<option label="30060">1</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="Seek_Tolerance" type="integer" label="30061" help="33061">
					<level>2</level>
					<default>60</default>
					<constraints>
						<minimum>5</minimum>
						<step>5</step>
						<maximum>900</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="Seek_Threshold" type="integer" label="30062" help="33062">
					<level>2</level>
					<default>98</default>
					<constraints>
						<minimum>85</minimum>
						<step>1</step>
						<maximum>100</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
			<group id="2" label="30014">
				<setting id="Min_Days" type="integer" label="30036" help="33036">
					<level>2</level>
                    <enable>false</enable>
					<default>1</default>
					<constraints>
						<minimum>1</minimum>
						<step>1</step>
						<maximum>3</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="Max_Days" type="integer" label="30037" help="33036">
					<level>2</level>
                    <enable>false</enable>
					<default>3</default>
					<constraints>
						<minimum>1</minimum>
						<step>1</step>
						<maximum>31</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>

        <category id="globals" label="30041" help="33041">
			<group id="1" label="30048">
				<setting id="Enable_Overlay" type="boolean" label="30042" help="33042">
					<level>1</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="Enable_ChannelBug" type="boolean" label="30043" help="33043" parent="Enable_Overlay">
					<level>1</level>
					<default>true</default>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Overlay">true</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
                <setting id="DIFFUSE_LOGO" type="string" label="30044" help="33044" parent="Enable_ChannelBug">
                    <level>1</level>
                    <default>FFFFFFFF</default>
                    <control type="colorbutton" />
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Overlay">true</condition>
                            </and>
                            <and>
                                <condition operator="is" setting="Enable_ChannelBug">true</condition>
                            </and>
                        </dependency>
						<dependency type="enable">
                            <condition on="property" name="InfoBool">String.Contains(System.BuildVersion,20)</condition>
                        </dependency>
					</dependencies>
                </setting>
				<setting id="Force_Diffuse" type="boolean" label="30113" help="33111" parent="DIFFUSE_LOGO">
					<level>1</level>
					<default>false</default>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Overlay">true</condition>
                            </and>
							<and>
                                <condition operator="is" setting="Enable_ChannelBug">true</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="Channel_Bug_Interval" type="integer" label="30086" help="33086" parent="Enable_ChannelBug">
					<level>1</level>
					<default>0</default>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Overlay">true</condition>
                            </and>
                            <and>
                                <condition operator="is" setting="Enable_ChannelBug">true</condition>
                            </and>
                        </dependency>
					</dependencies>
					<constraints>
						<minimum>-1</minimum>
						<step>1</step>
						<maximum>15</maximum>
					</constraints>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>               
                <setting id="Channel_Bug_Position" type="action" label="30112" help="30112" parent="Enable_ChannelBug">
					<level>3</level>
					<default>(1556,920)</default>
					<constraints>
						<allowempty>false</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Overlay">true</condition>
                            </and>
                            <and>
                                <condition operator="is" setting="Enable_ChannelBug">true</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/utilities.py, Move_Channelbug)</data>
						<close>true</close>
					</control>
				</setting>               
                <setting id="Channel_Bug_Position_XY" type="string" label="30112" help="30112" parent="Enable_ChannelBug">
					<level>3</level>
					<default>(1556,920)</default>
					<constraints>
						<allowempty>false</allowempty>
					</constraints>
                    <enable>true</enable>
                    <visible>false</visible>
                    <control type="edit" format="string">
						<heading></heading>
					</control>
				</setting>
				<setting id="Enable_OnNext" type="boolean" label="30045" help="33045" parent="Enable_Overlay">
					<level>1</level>
					<default>true</default>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Overlay">true</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="Static_Overlay" type="boolean" label="30046" help="33046" parent="Enable_Overlay">
					<level>1</level>
					<default>false</default>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Overlay">true</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2" label="30014">
				<setting id="Page_Limit" type="integer" label="30015" help="33015">
					<level>3</level>
					<default>25</default>
					<constraints>
						<minimum>25</minimum>
						<step>25</step>
						<maximum>500</maximum>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="Duration_Type" type="integer" label="30049" help="33049">
					<level>2</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30050">0</option>
							<option label="30051">1</option>
						</options>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="Store_Duration" type="boolean" label="30052" help="33052" parent="Duration_Type">
					<level>3</level>
					<default>false</default>
					<control type="toggle"/>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Duration_Type">1</condition>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
				</setting>
				<setting id="Enable_Even" type="integer" label="30121" help="33121">
					<level>1</level>
					<default>2</default>
					<constraints>
						<options>
							<option label="30079">0</option>
							<option label="30122">1</option>
							<option label="30123">2</option>
							<option label="30124">3</option>
						</options>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="Enable_Extras" type="boolean" label="30053" help="33053">
					<level>1</level>
					<default>false</default>
					<control type="toggle"/>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
				</setting>
				<setting id="Enable_Strms" type="boolean" label="30054" help="33054">
					<level>1</level>
					<default>false</default>
					<control type="toggle"/>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
				</setting>
				<setting id="Enable_3D" type="boolean" label="30055" help="30055">
					<level>1</level>
					<default>false</default>
					<control type="toggle"/>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
				</setting>
				<setting id="Enable_Fillers" type="boolean" label="30056" help="33056">
					<level>1</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
                            <and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
                        </dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
    
		<category id="fillers" label="30016" help="33016">
			<group id="1">
				<setting id="Fillers_Ratings" type="integer" label="30017" help="">
					<level>2</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30021">0</option>
							<option label="30022">1</option>
						</options>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="Fillers_Bumpers" type="integer" label="30018" help="">
					<level>2</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30021">0</option>
							<option label="30022">1</option>
						</options>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="Fillers_Commercials" type="integer" label="30019" help="">
					<level>2</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30021">0</option>
							<option label="30022">1</option>
							<option label="30023">2</option>
							<option label="30024">3</option>
							<option label="30025">4</option>
							<option label="30026">5</option>
						</options>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="Fillers_Trailers" type="integer" label="30020" help="">
					<level>2</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30021">0</option>
							<option label="30022">1</option>
							<option label="30023">2</option>
							<option label="30024">3</option>
							<option label="30025">4</option>
							<option label="30026">5</option>
						</options>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
			</group>
      
			<group id="2" label="30032">
				<setting id="Resource_Logos" type="list[addon]" label="30027" help="">
					<level>2</level>
					<default></default>
					<constraints>
						<addontype>kodi.resource.images</addontype>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="button" format="addon">
						<heading>30067</heading>
						<show more="true" details="true">installed</show>
						<multiselect>true</multiselect>
					</control>
				</setting>
				<setting id="Resource_Ratings" type="list[addon]" label="30028" help="">
					<level>2</level>
					<default></default>
					<constraints>
						<addontype>kodi.resource.images</addontype>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="button" format="addon">
						<heading>30069</heading>
						<show more="true" details="true">installed</show>
						<multiselect>true</multiselect>
					</control>
				</setting>
				<setting id="Resource_Bumpers" type="list[addon]" label="30029" help="">
					<level>2</level>
					<default></default>
					<constraints>
						<addontype>kodi.resource.images</addontype>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="button" format="addon">
						<heading>30068</heading>
						<show more="true" details="true">installed</show>
						<multiselect>true</multiselect>
					</control>
				</setting>
				<setting id="Resource_Commericals" type="list[addon]" label="30030" help="">
					<level>2</level>
					<default></default>
					<constraints>
						<addontype>kodi.resource.images</addontype>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="button" format="addon">
						<heading>30070</heading>
						<show more="true" details="true">installed</show>
						<multiselect>true</multiselect>
					</control>
				</setting>
				<setting id="Resource_Trailers" type="list[addon]" label="30031" help="">
					<level>2</level>
					<default></default>
					<constraints>
						<addontype>kodi.resource.images</addontype>
					</constraints>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="button" format="addon">
						<heading>30071</heading>
						<show more="true" details="true">installed</show>
						<multiselect>true</multiselect>
					</control>
				</setting>
			</group>
		</category>
        
		<category id="sharing" label="30092" help="33092">
            <group id="1" label="30093">
				<setting id="Remote_M3U" type="string" label="30094">
					<level>0</level>
                    <default></default>
                    <enable>false</enable>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
                    <control type="edit" format="string">
						<heading></heading>
					</control>
				</setting>
				<setting id="Remote_XMLTV" type="string" label="30095">
					<level>0</level>
                    <default></default>
                    <enable>false</enable>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
                    <control type="edit" format="string">
						<heading></heading>
					</control>
				</setting>
				<setting id="Remote_GENRE" type="string" label="30096">
					<level>0</level>
                    <default></default>
                    <enable>false</enable>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
                    <control type="edit" format="string">
						<heading></heading>
					</control>
				</setting>
			</group>
            <group id="2" label="30103">
                <setting id="UDP_PORT" type="integer" label="30097" help="33097">
					<level>3</level>
                    <default>50000</default>
					<constraints>
						<allowempty>false</allowempty>
					</constraints>
                    <dependencies>
						<dependency type="visible">
                            <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
						</dependency>
					</dependencies>
                    <control type="edit" format="integer">
						<heading>30359</heading>
					</control>
				</setting>
				<setting id="TCP_PORT" type="integer" label="30098" help="33097">
					<level>3</level>
                    <default>50001</default>
					<constraints>
						<allowempty>false</allowempty>
					</constraints>
                    <dependencies>
						<dependency type="visible">
                            <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
						</dependency>
					</dependencies>
                    <control type="edit" format="integer">
						<heading>40001</heading>
					</control>
				</setting>
			</group>
            <group id="3" label="30099">
                <setting id="Client_Mode" type="integer" label="30100" help="33100">
					<level>1</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30021">0</option>
							<option label="30101">1</option>
							<option label="30102">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
                <setting id="Remote_URL" type="string" label="30101" help="" parent="Client_Mode">
					<level>1</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
                        <dependency type="visible">
                            <and>
                                <condition on="property" name="InfoBool">!String.IsEmpty(Window(10000).Property(plugin.video.pseudotv.live.SERVER_DISCOVERY))</condition>
                                <condition operator="is" setting="Client_Mode">1</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/multiroom.py, Select_Server)</data>
                        <close>true</close>
					</control>
				</setting>
                <setting id="Network_Folder" type="string" label="30102" help="30012" parent="Client_Mode">
					<level>1</level>
					<default>special://profile/addon_data/plugin.video.pseudotv.live/cache</default>
					<constraints>
						<sources>
							<source>files</source>
						</sources>
						<writable>true</writable>
					</constraints>
					<dependencies>
                        <dependency type="visible">
                            <condition operator="is" setting="Client_Mode">2</condition>
						</dependency>
					</dependencies>
					<control type="button" format="path">
						<heading>30012</heading>
					</control>
				</setting>
			</group>
		</category>

		<category id="Miscellaneous" label="30000" help="33000">
			<group id="1" label="30106">
                <setting id="Utility_MENU" type="action" label="32126" help="">
					<level>3</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/utilities.py, Utilities)</data>
						<close>true</close>
					</control>
				</setting>
			</group>
			<group id="2" label="30072">
				<setting id="Enable_Debugging" type="boolean" label="30001" help="33001">
					<level>1</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
                <setting id="Debugging_Level" type="integer" label="30002" help="" parent="Enable_Debugging">
					<level>2</level>
					<default>0</default>
                    <constraints>
                        <options>
                            <option label="30003">0</option>
                            <option label="30004">1</option>
                            <option label="30005">2</option>
                            <option label="30006">3</option>
                        </options>
                    </constraints>
					<dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Debugging">true</condition>
							</and>
						</dependency>
					</dependencies>
                    <control type="spinner" format="string"/>
                </setting> 
                <setting id="Install_Logger" type="action" label="30008" help="33008" parent="Enable_Debugging">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Debugging">true</condition>
                                <condition on="property" name="InfoBool">!System.HasAddon(script.kodi.loguploader)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>InstallAddon(script.kodi.loguploader)</data>
						<close>true</close>
					</control>
                </setting> 
                <setting id="Run_Logger" type="action" label="30009" help="" parent="Enable_Debugging">
					<level>1</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Debugging">true</condition>
                                <condition on="property" name="InfoBool">System.HasAddon(script.kodi.loguploader)</condition>
                                <condition on="property" name="InfoBool">System.AddonIsEnabled(script.kodi.loguploader)</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunAddon(script.kodi.loguploader)</data>
						<close>true</close>
					</control>
                </setting>
				<setting id="Disable_Cache" type="boolean" label="30084" help="33084" parent="Enable_Debugging">
					<level>3</level>
					<default>false</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Debugging">true</condition>
							</and>
						</dependency>
					</dependencies>
				</setting>
			</group>
			<group id="3" label="30088">
                <setting id="Show_Readme" type="action" label="30089" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/utilities.py, Show_Readme)</data>
						<close>false</close>
					</control>
				</setting>
                <setting id="Show_Changelog" type="action" label="30090" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/utilities.py, Show_Changelog)</data>
						<close>false</close>
					</control>
                </setting>
            </group>
			<group id="4" label="30069">
                <setting id="Enable_Recommended" type="boolean" label="30105" help="33105">
					<level>1</level>
					<default>true</default>
					<control type="toggle"/>
                    <dependencies>
						<dependency type="visible">
							<and>
                                <condition on="property" name="InfoBool">String.Contains(Window(10000).Property(plugin.video.pseudotv.live.isClient),false)</condition>
                            </and>
						</dependency>
					</dependencies>
				</setting>
				<setting id="iptvsimple" type="action" label="30071" help="">
					<level>0</level>
					<data>Addon.OpenSettings(pvr.iptvsimple)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
                        <dependency type="enable">
                            <and>
                                <condition on="property" name="InfoBool">System.HasAddon(pvr.iptvsimple)</condition>
                                <condition on="property" name="InfoBool">System.AddonIsEnabled(pvr.iptvsimple)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
                <setting id="Apply_PVR_Settings" type="action" label="30074" help="33074" parent="iptvsimple">
					<level>1</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
                            <and>
                                <condition on="property" name="InfoBool">System.HasAddon(pvr.iptvsimple)</condition>
                                <condition on="property" name="InfoBool">System.AddonIsEnabled(pvr.iptvsimple)</condition>
                            </and>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<data>RunScript(special://home/addons/plugin.video.pseudotv.live/resources/lib/utilities.py, Apply_PVR_Settings)</data>
						<close>true</close>
					</control>
				</setting>
			</group>
			<group id="5" label="30111">
                <setting id="JSONRPC_Delay" type="integer" label="30110" help="33109">
					<level>3</level>
					<default>2000</default>
					<constraints>
						<minimum>0</minimum>
						<step>500</step>
						<maximum>4000</maximum>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<and>
                                <condition operator="is" setting="Enable_Debugging">true</condition>
                                <condition on="property" name="InfoBool">!System.Platform.Windows</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="slider" format="integer">
						<popup>false</popup>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>